<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header"><%= talkto %>'s conversation</h2>
	<br>
	<hr>
	<div class="ui comments">
		<div class="comment">
			<a class="avatar">
				<img src="/images/profil/elliot.jpg">
			</a>
			<div class="content">
				<a class="author">Joe Henderson</a>
				<div class="metadata">
					<div class="date">1 day ago</div>
				</div>
				<hr>
				<div class="text">
					<p>The hours, minutes and seconds stand as visible reminders that your effort put them all there. </p>
					<p>Preserve until your next run, when the watch lets you see how Impermanent your efforts are.</p>
				</div>
			</div>
		</div>
		<br>
	</div>
	<form action="" id="formsg" class="ui form">
		<input type="text" class="message" maxlength="160" class="text"/>
		<input type="submit" class="ui primary submit button send" value="Envoyer" class="submit"/>
	</form>
</div>

<% include footer %>
