<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header">Nouveau mot de passe</h2>
	<br>
	<hr>
	<form class="ui form segment" method="post" action="/forgot">
		<div class="ui form success">
			<div class="field">
				<label>E-mail</label>
				<input type="email" placeholder="joe@schmoe.com" name="email">
			</div>
			<INPUT class="ui primary submit button" TYPE="submit" NAME="nom" VALUE="Reset password">
		</div>
	</form>
</div>

<% include footer %>
