<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<title>MATCHA</title>
		<!-- Semantic Core CSS -->
		<link href="../semantic/semantic.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="../stylesheets/simple-sidebar.css" rel="stylesheet">
		<!-- mine -->
		<link href="../stylesheets/style.css" rel="stylesheet">
		<!-- TOASTR -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

	</head>

	<body>

		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
		</script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js">
		</script>

		<nav class="navbar">
			<a class="navbar-brand" href="#">
			</a>
		</nav>
		<div class="ui grid">
			<div class="computer tablet only row">
				<div class="ui inverted fixed menu navbar page grid">
					<a href="#" class="brand item">
						<img src="images/matcha1.png" alt="">
					</a>
					<a href="#" class="item">About</a>
					<a href="#" class="item">Contact</a>
					<a class="ui dropdown item">Dropdown
						<i class="dropdown icon"></i>
						<div class="menu">
							<div class="item">Action</div>
							<div class="item">Another action</div>
						</div>
					</a>
					<div class="right menu">
						<a href="#" class="item">Connexion</a>
					</div>
				</div>
			</div>
			<div class="mobile only row">
				<div class="ui fixed inverted navbar menu">
					<a href="#" class="brand item">
						<img src="images/matcha.png" class="">
					</a>
					<div class="right menu open">
						<a href="#" class="menu item">
							<i class="content icon"></i>
						</a>
					</div>
				</div>
				<div class="ui vertical navbar menu">
					<a href="#" class="active item">Home</a>
					<a href="#" class="item">About</a>
					<a href="#" class="item">Contact</a>
					<div class="ui item">
						<div class="text">Dropdown</div>
						<div class="menu">
							<a class="item">Action</a>
							<a class="item">Another action</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui main container">
			<% if (locals && locals.error) { %>
				<script>
					toastr.error('<%= locals.error %>')
				</script>
			<% } else if (locals && locals.success) { %>
				<script>
					toastr.success('<%= locals.success %>')
				</script>
			<% } else if (locals && locals.warning) { %>
				<script>
					toastr.warning('<%= locals.warning %>')
				</script>
			<% } else if (locals && locals.info) { %>
				<script>
					toastr.info('<%= locals.info %>')
				</script>
			<% } %>
		</div>	
