<% include header %>

<div id="wrapper">

<!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid">

<!-- FORM -->
<div class="ui raised very padded text container segment">
	<h4>Tell Us About Yourself</h4>
	<hr>
	<div class="field example">
		<img src="images/matcha1.png" class="logoform">
		<form class="ui form segment" id="loginform" method="post" action="/register">
			<div class="two fields">
				<div class="field">
					<label>Name</label>
					<input placeholder="First Name" name="name" type="text" id="name">
				</div>
				<div class="field">
					<label>Gender</label>
					<div class="ui dropdown selection" tabindex="0">
						<select name="gender" id="gender">
							<option value="">Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="other">Other</option>
						</select>
							<i class="dropdown icon"></i>
							<div class="default text">Gender</div>
							<div class="menu" tabindex="-1">
								<div class="item" data-value="male">Male</div>
								<div class="item" data-value="female">Female</div>
								<div class="item" data-value="other">Other</div>
							</div>
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Lastname</label>
					<input placeholder="Lastname" name="lastname" type="text" id="lastname">
				</div>
				<div class="field">
					<label>Email</label>
					<input placeholder="Email@youremail.com" type="email" name="email" id="email">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Login</label>
					<input placeholder="Login" name="login" type="text" id="login">
				</div>
				<div class="field">
					<label>City</label>
					<input placeholder="City" type="text" name="city" id="city">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Password</label>
					<input placeholder="Password" name="pswd" type="password" id="pswd">
				</div>
				<div class="field">
					<label>Repeat Password</label>
					<input placeholder="Again" type="password" name="repswd" id="repswd">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Birth date</label>
					<input type="date" name="age" id="age">
				</div>
				<div class="field">
					<label>Interest</label>
					<div class="ui dropdown selection" tabindex="0">
						<select name="interest" id="interest">
							<option value="">Interest</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							<option value="both">Both</option>
						</select>
						<i class="dropdown icon"></i>
						<div class="default text">interest</div>
						<div class="menu" tabindex="-1">
							<div class="item" data-value="male">Male</div>
							<div class="item" data-value="female">Female</div>
							<div class="item" data-value="both">Both</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui center">
				<INPUT class="fluid ui primary submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
            </div>
			<div class="ui error message"></div>
		</form>
	</div>
	<hr>
	<center><a href="/login">Je suis déjà membre</a></center>
</div>

</div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- wrapper -->

<% include footer %>

<script>
	$('.ui.form')
	.form({
	fields: {
		name: {
			identifier: 'name',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your name'
			  },
			  {
				type   : 'minLength[2]',
				prompt : 'Your name is too short'
			  }
			]
		},
		gender: {
			identifier: 'gender',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please select your Gender'
			  }
			]
		},
		lastname: {
			identifier: 'lastname',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your lastname'
			  }
			]
		},
		email: {
			identifier: 'email',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your email'
			  }
			]
		},
		login: {
			identifier: 'login',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your login'
			  }
			]
		},
		city: {
			identifier: 'city',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your city'
			  }
			]
		},
		pswd: {
			identifier: 'pswd',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your password'
			  },
			  {
				type   : 'minLength[8]',
				prompt : 'Your password must contain at least 8 char'
			  }
			]
		},
		repswd: {
			identifier: 'repswd',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your password again'
			  },
			  {
				type   : 'minLength[8]',
				prompt : 'Your password must contain at least 8 char'
			  }
			]
		},
		age: {
			identifier: 'age',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your Birthdate'
			  }
			]
		},
		interest: {
			identifier: 'interest',
			rules: [
			  {
				type   : 'empty',
				prompt : 'Please enter your Interests'
			  }
			]
		},

	}
	});
</script>
