<% include header %>

<div id="wrapper">

<!-- Sidebar
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
<li class="sidebar-brand">
<a href="#">
Start Matcha
</a>
</li>
<li>
<a href="#">Dashboard</a>
</li>
</ul>
</div>
-->

<!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid">
<br/>
<br/>
<form method='POST' action='/register'>
<div class="container">
<label><b>Login</b></label>
<input type="text" placeholder="Enter login" name="login" required>
<br>
<label><b>First Name</b></label>
<input type="text" placeholder="Enter your first name" name="name" required>
<br>
<label><b>Last Name</b></label>
<input type="text" placeholder="Enter Your last name" name="lastname" required>
<br>
<label><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" required>
<br>
<label><b>Age</b></label>
	<input type="text" placeholder="Enter your age" name="age" required>
<br>
<label><b>Gender</b></label>
	<input type="radio" name="gender" value="male" checked> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
	<input type="radio" name="gender" value="other"> Other
<br>
<label><b>City</b></label>
	<input type="text" placeholder="Enter your city" name="age" required>
<br>

<label><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="pwd" required>
<br>
<label><b>Repeat Password</b></label>
<input type="password" placeholder="Repeat Password" name="pwd-repeat" required>
<br>
<input type="checkbox" checked="checked"> Remember me
<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
<br>
<textarea name="description" rows="10" cols="30">
The cat was playing in the garden.
</textarea>
<br>
<br>
<div class="clearfix">
<button type="button"  class="cancelbtn">Cancel</button>
<button type="submit" class="signupbtn">Sign Up</button>
</div>
</div>
</form>
</div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<% include footer %>
