<% include header %>

<div id="wrapper">

<!-- Sidebar
<div id="sidebar-wrapper">
<ul class="sidebar-nav">
<li class="sidebar-brand">
<a href="#">
Start Matcha
</a>
</li>
<li>
<a href="#">Dashboard</a>
</li>
</ul>
</div>
-->

<!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid">
<div class="ui raised very padded text container segment">
<form class="ui form segment" method="post" action="/register">
<h4>Tell Us About Yourself</h4>
<div class="two fields">
<div class="field">
<label>Name</label>
<input placeholder="First Name" name="name" type="text">
</div>
<div class="field">
<label>Gender</label>
<div class="ui dropdown selection" tabindex="0"><select name="gender">
<option value="">Gender</option>
<option value="male">Male</option>
<option value="female">Female</option>
<option value="other">Other</option>
</select><i class="dropdown icon"></i><div class="default text">Gender</div><div class="menu" tabindex="-1"><div class="item" data-value="male">Male</div><div class="item" data-value="female">Female</div><div class="item" data-value="other">Other</div></div></div>
</div>
</div>
<div class="two fields">
<div class="field">
<label>Lastname</label>
<input placeholder="Lastname" name="lastname" type="text">
</div>
<div class="field">
<label>Email</label>
<input placeholder="Email@youremail.com" type="email" name="email">
</div>
</div>
<div class="two fields">
<div class="field">
<label>Login</label>
<input placeholder="Login" name="login" type="text">
</div>
<div class="field">
<label>City</label>
<input placeholder="City" type="text" name="city">
</div>
</div>
<div class="two fields">
<div class="field">
<label>Password</label>
<input placeholder="Password" name="pswd" type="password">
</div>
<div class="field">
<label>Repeat Password</label>
<input placeholder="Again" type="password" name="repswd">
</div>
</div>
<div class="field">
<label>Birthdate</label>
<input type="date" name="age">
</div>
<div class="inline field">
<div class="ui checkbox">
<input type="checkbox" name="terms" tabindex="0">
<label>I agree to the terms and conditions</label>
</div>
</div>
<INPUT class="fluid ui primary submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
<div class="ui error message"></div>
</form>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- wrapper -->

<script>
$('.ui.form.segment')
.form({
fields: {
name: {
identifier: 'name',
rules: [
{
type   : 'empty',
prompt : 'Please enter your name'
}
]
},
gender: {
identifier: 'gender',
rules: [
{
type   : 'empty',
prompt : 'Please select a gender'
}
]
},
username: {
identifier: 'username',
			rules: [
			{
type   : 'empty',
		 prompt : 'Please enter a username'
			}
			]
		  },
email: {
identifier: 'email',
			rules: [
			{
type   : 'empty',
		 prompt : 'Please enter your email address'
			}
			]
	   },
login: {
identifier: 'login',
			rules: [
			{
type   : 'empty',
		 prompt : 'Please enter a login'
			}
			]
	   },
city: {
identifier: 'city',
			rules: [
			{
type   : 'empty',
		 prompt : 'Please enter your city'
			}
			]
	  },
password: {
identifier: 'pswd',
			rules: [
			{
type   : 'empty',
		 prompt : 'Please enter a password'
			},
			{
type   : 'minLength[6]',
		 prompt : 'Your password must be at least {ruleValue} characters'
			}
			]
		  },
2ndpassword: {
identifier: 'repswd',
			rules: [
			{
type   : 'empty',
		 prompt : 'Please enter a password'
			},
			{
type   : 'minLength[6]',
		 prompt : 'Your password must be at least {ruleValue} characters'
			}
			]
			 },

terms: {
identifier: 'terms',
			rules: [
			{
type   : 'checked',
		 prompt : 'You must agree to the terms and conditions'
			}
			]
	   }
}
})
;
</script>

<% include footer %>
