<% include header %>

<div id="wrapper">

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="container-fluid">

			<!-- FORM -->
			<div class="ui raised very padded text container segment">
				<div class="field example">
					<form class="ui form segment" method="post" action="/register">
						<h4>Tell Us About Yourself</h4>
						<div class="two fields">
							<div class="field">
								<label>Name</label>
								<input placeholder="First Name" name="name" type="text">
							</div>
							<div class="field">
								<label>Gender</label>
								<div class="ui dropdown selection" tabindex="0">
									<select name="gender">
										<option value="">Gender</option>
										<option value="male">Male</option>
										<option value="female">Female</option>
										<option value="other">Other</option>
									</select>
										<i class="dropdown icon"></i>
										<div class="default text">Gender</div>
										<div class="menu" tabindex="-1">
											<div class="item" data-value="male">Male</div>
											<div class="item" data-value="female">Female</div>
											<div class="item" data-value="other">Other</div>
										</div>
								</div>
							</div>
						</div>
						<div class="two fields">
							<div class="field">
								<label>Lastname</label>
								<input placeholder="Lastname" name="lastname" type="text">
							</div>
							<div class="field">
								<label>Email</label>
								<input placeholder="Email@youremail.com" type="email" name="email">
							</div>
						</div>
						<div class="two fields">
							<div class="field">
								<label>Login</label>
								<input placeholder="Login" name="login" type="text">
							</div>
							<div class="field">
								<label>City</label>
								<input placeholder="City" type="text" name="city">
							</div>
						</div>
						<div class="two fields">
							<div class="field">
								<label>Password</label>
								<input placeholder="Password" name="pswd" type="password">
							</div>
							<div class="field">
								<label>Repeat Password</label>
								<input placeholder="Again" type="password" name="repswd">
							</div>
						</div>
						<div class="field">
							<label>Birthdate</label>
							<input type="date" name="age">
						</div>
						<div class="inline field">
							<div class="ui checkbox">
								<input type="checkbox" name="terms" tabindex="0">
								<label>I agree to the terms and conditions</label>
							</div>
						</div>
						<INPUT class="fluid ui primary submit button" TYPE="submit" NAME="nom" VALUE=" Envoyer ">
						<div class="ui error message"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- wrapper -->

<% include footer %>
