<% include header %>

<div class="ui segment">
	<h2 class="ui right floated header">Votre profil</h2>
	<br>
	<hr>
	<br>
	<img class="ui medium circular image" src="images/profil/steve.jpg">
	<p></p>
</div>

<% include footer %>
