/* body */

body { 
	margin:0;
	padding:0;
	background: url(../background.jpg) no-repeat center fixed; 
	background-size: cover; /* version standardisée */
}

/* header*/

.ui.inverted.fixed.menu.navbar.page.grid {
	background: #223b48;
}

.ui.grid.main{
	margin-top: 70px;
}


.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.grid.main{
  		margin-top: 70px;
	}

    .ui.grid { margin: 0 !important; }
	.ui.vertical.menu.navbar{
		margin-top: 0px !important;
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}

/* registration form */

.ui.raised.very.padded.text.container.segment {
	opacity: 0.8;
	color: white;
	background: #192a33;
}

.ui.form.segment {
	color: white;
	background: #192a33;
}

.ui.form .field > label {
	color: white;
}

.ui.checkbox label, .ui.checkbox + label {
	color: white;
}

/* ui negative message */

.ui.negative.message {
	margin-top: 5%;
}

/* Steps for multi form  */

div.steps {
	margin: 8%;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}
#social{
    display: none;
    padding:20px;
}

#personal{
    display:none;
    padding:20px;
}

#account{
    display: block;
    padding:20px;
}

.text.container{
    width:57%;
}

#logo{
    border:2px solid white;
    border-radius: 10px;
    color:white;
    padding:15px;
}
#logo:hover{
    box-shadow: 0px 0px 5px 5px white;
}
