/* body */

body { 
	margin:0;
	padding:0;
	background: url(../background.jpg) no-repeat center fixed; 
	background-size: cover; /* version standardisée */
}

/* header*/

.ui.inverted.fixed.menu.navbar.page.grid {
	background: #223b48;
}

.ui.grid.main{
	margin-top: 70px;
}


.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.grid.main{
  		margin-top: 70px;
	}

    .ui.grid { margin: 0 !important; }
	.ui.vertical.menu.navbar{
		margin-top: 0px !important;
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}

/* registration form */

.ui.raised.very.padded.text.container.segment {
	margin-top: 10%;
	opacity: 0.8;
	color: white;
	background: #192a33;
}

.ui.form.segment {
	color: white;
	background: #192a33;
}

.ui.form .field > label {
	color: white;
}

.ui.checkbox label, .ui.checkbox + label {
	color: white;
}

/* ui negative message */

.ui.negative.message {
	margin-top: 5%;
}

/* logo form */

img.logoform {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	display: block
}

/* profil */

div.ui.segment {
	margin-top: 10%;
	opacity: 0.9;
	margin-right: 5%;
	margin-left: 5%;
	background: none;
	color: white
}

div.ui.segment.textarea {
	width: 90%;
	background: none;
}

h2.ui.right.floated.header {
	color: white;
}

div.ui.segment {
	color:white;
}

div.ui.segment.none {
	display: none;
}

div.left.ui.small.images {
	margin: 0em 1.75rem 0rem;
}

div.ui.teal.empty.circular.label {
	background: green
}

form.ui.form.oklm {
	width: 50%;
}

/* edit */

div.ui.grid.edit {
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
}

a.ui.label {
	margin-top:2%
}

/* HOME PAGE */

div.ui.people.shape {
	padding: 1% 1%;
}

div.ui.people.shape:hover {
	opacity: 0.8
}

/* MESSAGES */

div.item.oklm:hover {
	border: 1px solid white;
}

#formsg {
	position: fixed;
	bottom: 2%;
	display: flex;
	width: 85%;
}

.ui.primary.submit.button.send {
	margin-left: 1%;
}

.ui.comments {
    display: block;
    margin: auto;
    margin-top: 4%;
	color: white;
}

/* NOTIFS */

.summary {
	color:white;
}

.event:hover {
	opacity: 0.8;
	border-bottom: 1px solid white;
}

